@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  height: 100%;
}

body {
  @include body-typography;
}

main {
  min-height: 100%;

  display: grid;
  align-content: center;
  justify-content: center;
  gap: 9.65rem;
}
