.heading {
  &-xl {
    font-size: 4.5rem;
    line-height: 4.9rem;
    letter-spacing: 0.063rem;

    @media only screen and (max-width: 70.7em) {
      font-size: 3.5rem;
      line-height: 4rem;
    }

    &-bold {
      font-weight: 700;
    }

    &-regular {
      font-weight: 400;
    }
  }

  &-l {
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: 0.031rem;

    &-bold {
      font-weight: 700;
    }

    &-regular {
      font-weight: 400;
    }
  }

  &-m-bold {
    font-size: 1.13rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: 0.013rem;
  }

  &-s-regular {
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.63rem;
    letter-spacing: 0.156rem;
  }
}

.quote-regular {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.19rem;
  letter-spacing: 0rem;
  &__cream-white {
    color: $color-cream-white;
  }
}

.default-text-regular {
  @include body-typography;
}

.x-small-text-regular {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem;
}

.cream-white {
  color: $color-cream-white;
}
