@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 95%; }
  @media only screen and (min-width: 1920px) {
    html {
      font-size: 130%;
      background-color: blue; } }

html,
body {
  height: 100%; }

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem;
  color: #172339; }

main {
  min-height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 9.65rem; }

.heading-xl {
  font-size: 4.5rem;
  line-height: 4.9rem;
  letter-spacing: 0.063rem; }
  .heading-xl-bold {
    font-weight: 700; }
  .heading-xl-regular {
    font-weight: 400; }

.heading-l {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: 0.031rem; }
  .heading-l-bold {
    font-weight: 700; }
  .heading-l-regular {
    font-weight: 400; }

.heading-m-bold {
  font-size: 1.13rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 2rem;
  letter-spacing: 0.013rem; }

.heading-s-regular {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.63rem;
  letter-spacing: 0.156rem; }

.quote-regular {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.19rem;
  letter-spacing: 0rem; }
  .quote-regular__cream-white {
    color: #faf8f6; }

.default-text-regular {
  font-family: "Epilogue", sans-serif;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem;
  color: #172339; }

.x-small-text-regular {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0rem; }

.cream-white {
  color: #faf8f6; }

.btn {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  border-radius: 0.3rem;
  outline: none;
  transition: background-color 200ms; }
  .btn-primary-default {
    padding: 0.875rem 1.938rem;
    font-size: 1.13rem;
    line-height: 2rem;
    color: #faf8f6;
    border: none;
    background-color: #172339; }
    .btn-primary-default:hover {
      background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%); }
  .btn-secondary-default {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 2rem;
    border: 0.1rem solid #172339;
    color: #172339;
    background-color: transparent; }
    .btn-secondary-default:hover {
      color: #faf8f6;
      background-color: #172339; }

.logo-box {
  height: 1.6rem; }

.logo__icon {
  height: 100%;
  object-fit: cover; }

.curved-line {
  position: absolute;
  top: 8%;
  left: 28%;
  z-index: 5; }
  .curved-line-box {
    width: 17.94rem;
    height: 2rem; }
  .curved-line-icon {
    height: 100%;
    width: 100%; }

.curved-lind-s {
  position: relative;
  top: -5rem; }
  .curved-lind-s-box {
    width: 4rem;
    height: 3.25rem; }

.mockup {
  position: absolute;
  top: 0;
  left: 45%;
  height: 100%; }
  .mockup-box {
    width: 21.9rem;
    height: 100%; }
  .mockup__img {
    height: 100%;
    object-fit: cover; }

.card {
  width: 69.313rem;
  height: 34.063rem;
  padding: 0 7.813rem;
  border-radius: 0.94rem;
  background-color: #172339;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .card__img-box {
    width: 23.44rem;
    height: 36.85rem;
    position: relative;
    top: -2.87rem;
    background-image: url(/src/assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: -2rem 15rem; }
  .card__img {
    width: 100%;
    object-fit: cover; }
  .card__info {
    width: 21.9rem;
    height: 23.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.facebook__icon-box,
.twitter__icon-box,
.instagram__icon-box {
  width: 1.25rem;
  height: 1.25rem; }

.icon {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.header {
  width: 69.3rem;
  margin: 3.13rem auto 4.2rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.hero {
  height: 37.5rem;
  width: 69.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .hero__info-box {
    height: 25.31rem;
    width: 41.5rem;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between; }
  .hero__paragraph-box {
    width: 21.9rem; }

.ratings {
  height: 25.31rem;
  width: 11.9rem; }
  .ratings-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.footer {
  margin-top: -19rem;
  height: 29rem;
  background-color: #f3ede7;
  display: flex;
  align-items: end; }
  .footer-box {
    margin: 0 auto 4.5rem auto;
    width: 69.313rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer__social-links {
    width: 7.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
