.card {
  width: 69.313rem;
  height: 34.063rem;
  padding: 0 7.813rem;
  border-radius: 0.94rem;
  background-color: $color-dark-blue;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 70.7em) {
    width: 43.063rem;
    height: 42.75rem;

    padding: 0 3.63rem 4rem 3.63rem;
    flex-direction: column;
  }

  @media only screen and (max-width: 39.4em) {
    width: 100%;
    height: 46.75rem;
  }

  &__img-box {
    width: 22.44rem;
    height: 36.85rem;

    display: flex;
    position: relative;
    top: -1.3rem;

    background-image: url(/src/assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center 15rem;

    @media only screen and (max-width: 70.7em) {
      margin-top: -11rem;
      top: auto;

      width: 15.75rem;
      height: 25.125rem;
      background-position: center 10rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    width: 21.9rem;
    height: 23.1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media only screen and (max-width: 70.7em) {
      width: 100%;
      height: 17.63rem;
      text-align: center;
    }
    @media only screen and (max-width: 39.4em) {
      height: 21rem;
    }
  }
}
