.curved-line {
  position: absolute;
  top: 8%;
  left: 28%;

  z-index: 5;

  @media only screen and (max-width: 70.7em) {
    left: 36.5%;
  }

  &-box {
    width: 17.94rem;
    height: 2rem;
    @media only screen and (max-width: 70.7em) {
      width: 14.94rem;
    }
  }

  &-icon {
    height: 100%;
    width: 100%;
  }
}

.curved-line-s {
  position: relative;
  top: -5rem;

  @media only screen and (max-width: 70.7em) {
    position: static;
    top: auto;
  }
  &-box {
    width: 4rem;
    height: 3.25rem;
    @media only screen and (max-width: 70.7em) {
      width: 3rem;
    }
  }
}
