.mockup {
    position: absolute;
    top: 0;
    left: 45%;
    height: 100%;
    
    &-box {
      width: 21.9rem;
      height: 100%;
    }
  
    &__img {
      height: 100%;
      object-fit: cover;
    }
  }