.footer {
  margin-top: -19rem;
  height: 29rem;
  background-color: $color-cream;

  display: flex;
  align-items: end;

  &-box {
    margin: 0 auto 4.5rem auto;
    width: 69.313rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 70.7em) {
      width: 43.063rem;
    }
  }

  &__social-links {
    width: 7.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
