.ratings {
  height: 25.31rem;
  width: 11.9rem;
  
  @media only screen and (max-width: 70.7em) {
    height: 5.188rem;
    width: 100%;
  }

  @media only screen and (max-width: 39.4em) {
    height: 19.56rem;
  }

  &-item {
    @media only screen and (max-width: 70.7em) {
      text-align: center;
    }
  }

  &-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: 70.7em) {
      flex-direction: row;
      justify-content: space-around;
    }
    @media only screen and (max-width: 39.4em) {
      flex-direction: column;
    }
  }
}
